# Estimating how active actors will be

In [0]:
import pandas as pd
import numpy as np

In [0]:
if int(pd.__version__.split('.')[1]) < 24:
  ! pip install pandas --upgrade

In [3]:
! wget "https://datasets.imdbws.com/title.principals.tsv.gz"
! wget "https://datasets.imdbws.com/title.basics.tsv.gz"
! wget "https://datasets.imdbws.com/name.basics.tsv.gz"

--2019-04-04 23:42:22--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.29, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 280560785 (268M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 267.56M  10.2MB/s    in 28s

2019-04-04 23:42:50 (9.68 MB/s) - ‘title.principals.tsv.gz’ saved [280560785/280560785]

--2019-04-04 23:42:52--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.29, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 103267988 (98M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>]  98.48M   121MB/s    in 0.8s

2019-04-04 23:42:52 (121 MB/s) - ‘title.basics.tsv.gz’ saved [103267988/103267988]

--2019-04-04 23:42:54--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.29, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 181011460 (173M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 172.63M   123MB/s    in 1.4s

2019-04-04 23:42:56 (123 MB/s) - ‘name.basics.tsv.gz’ saved [181011460/181011460]

In [0]:
! gunzip title.principals.tsv.gz
! gunzip title.basics.tsv.gz
! gunzip name.basics.tsv.gz

In [0]:
cast = pd.read_csv('title.principals.tsv', sep='\t', na_values = "\\N", keep_default_na = False, 
                   usecols = ['tconst','ordering','nconst','category','job'],
                   dtype = {'tconst': str, 'ordering': 'Int64', 'nconst': str, 'category': str, 'job': str})
titles = pd.read_csv('title.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                     usecols = ['tconst','primaryTitle','startYear'],
                    dtype = {'tconst': str, 'primaryTitle': str, 'startYear': 'Int64'})
names = pd.read_csv('name.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                    usecols = ['nconst','primaryName','birthYear','deathYear'],
                   dtype = {'nconst': str, 'primaryName': str, 'birthYear': 'Int64', 'deathYear': 'Int64'})

In [6]:
cast.head()

      tconst  ordering     nconst         category                      job
0  tt0000001         1  nm1588970             self                      NaN
1  tt0000001         2  nm0005690         director                      NaN
2  tt0000001         3  nm0374658  cinematographer  director of photography
3  tt0000002         1  nm0721526         director                      NaN
4  tt0000002         2  nm1335271         composer                      NaN

In [7]:
titles.head()

      tconst            primaryTitle  startYear
0  tt0000001              Carmencita       1894
1  tt0000002  Le clown et ses chiens       1892
2  tt0000003          Pauvre Pierrot       1892
3  tt0000004             Un bon bock       1892
4  tt0000005        Blacksmith Scene       1893

In [8]:
names.head()

      nconst      primaryName  birthYear  deathYear
0  nm0000001     Fred Astaire       1899       1987
1  nm0000002    Lauren Bacall       1924       2014
2  nm0000003  Brigitte Bardot       1934        NaN
3  nm0000004     John Belushi       1949       1982
4  nm0000005   Ingmar Bergman       1918       2007

In [0]:
actors = ["Lauren Bacall", "Cary Grant"]

In [0]:
names_actors = names[names.primaryName.isin(actors)].head(len(actors))

In [38]:
names_actors

       nconst    primaryName  birthYear  deathYear
1   nm0000002  Lauren Bacall       1924       2014
25  nm0000026     Cary Grant       1904       1986

In [0]:
cast_actors = pd.merge(names_actors, cast, on = 'nconst')

In [0]:
movie_actors = pd.merge(cast_actors, titles, on = 'tconst')

In [0]:
movie_list = movie_actors[['primaryName','birthYear','deathYear','category','primaryTitle','startYear']]

In [0]:
movie_list = movie_list[movie_list.category.isin(['actor','actress'])]

In [43]:
movie_list

,primaryName,birthYear,deathYear,category,primaryTitle,startYear
0,Lauren Bacall,1924,2014,actress,To Have and Have Not,1944
1,Lauren Bacall,1924,2014,actress,Confidential Agent,1945
2,Lauren Bacall,1924,2014,actress,The Big Sleep,1946
3,Lauren Bacall,1924,2014,actress,Dark Passage,1947
4,Lauren Bacall,1924,2014,actress,Key Largo,1948
5,Lauren Bacall,1924,2014,actress,Bright Leaf,1950
6,Lauren Bacall,1924,2014,actress,Young Man with a Horn,1950
7,Lauren Bacall,1924,2014,actress,How to Marry a Millionaire,1953
8,Lauren Bacall,1924,2014,actress,Woman's World,1954
9,Lauren Bacall,1924,2014,actress,Blood Alley,1955
10,Lauren Bacall,1924,2014,actress,The Cobweb,1955
11,Lauren Bacall,1924,2014,actress,Written on the Wind,1956
12,Lauren Bacall,1924,2014,actress,Designing Woman,1957
13,Lauren Bacall,1924,2014,actress,The Gift of Love,1958
14,Lauren Bacall,1924,2014,actress,North West Frontier,1959
16,Lauren Bacall,1924,2014,actress,Mr. Broadway,1964
17,Lauren Bacall,1924,2014,actress,Sex and the Single Girl,1964
18,Lauren Bacall,1924,2014,actress,Shock Treatment,1964
19,Lauren Bacall,1924,2014,actress,Harper,1966
21,Lauren Bacall,1924,2014,actress,Murder on the Orient Express,1974
22,Lauren Bacall,1924,2014,actress,The Shootist,1976
23,Lauren Bacall,1924,2014,actress,Perfect Gentlemen,1978
24,Lauren Bacall,1924,2014,actress,HealtH,1980
25,Lauren Bacall,1924,2014,actress,The Fan,1981
27,Lauren Bacall,1924,2014,actress,Appointment with Death,1988
30,Lauren Bacall,1924,2014,actress,Mr. North,1988
32,Lauren Bacall,1924,2014,actress,Innocent Victim,1989
36,Lauren Bacall,1924,2014,actress,The Parallax Garden,1993
37,Lauren Bacall,1924,2014,actress,The Portrait,1993
38,Lauren Bacall,1924,2014,actress,From the Mixed-Up Files of Mrs. Basil E. Frank...,1995
...,...,...,...,...,...,...
432,Cary Grant,1904,1986,actor,Destination Tokyo,1943
433,Cary Grant,1904,1986,actor,Mr. Lucky,1943
434,Cary Grant,1904,1986,actor,Arsenic and Old Lace,1944
435,Cary Grant,1904,1986,actor,None But the Lonely Heart,1944
436,Cary Grant,1904,1986,actor,Once Upon a Time,1944
437,Cary Grant,1904,1986,actor,Night and Day,1946
438,Cary Grant,1904,1986,actor,Notorious,1946
439,Cary Grant,1904,1986,actor,The Bachelor and the Bobby-Soxer,1947
440,Cary Grant,1904,1986,actor,The Bishop's Wife,1947
441,Cary Grant,1904,1986,actor,Every Girl Should Be Married,1948
442,Cary Grant,1904,1986,actor,Mr. Blandings Builds His Dream House,1948
443,Cary Grant,1904,1986,actor,I Was a Male War Bride,1949
444,Cary Grant,1904,1986,actor,Crisis,1950
445,Cary Grant,1904,1986,actor,People Will Talk,1951
446,Cary Grant,1904,1986,actor,Monkey Business,1952
447,Cary Grant,1904,1986,actor,Room for One More,1952
448,Cary Grant,1904,1986,actor,Dream Wife,1953
449,Cary Grant,1904,1986,actor,To Catch a Thief,1955
450,Cary Grant,1904,1986,actor,An Affair to Remember,1957
451,Cary Grant,1904,1986,actor,Kiss Them for Me,1957
452,Cary Grant,1904,1986,actor,The Pride and the Passion,1957
453,Cary Grant,1904,1986,actor,Houseboat,1958
454,Cary Grant,1904,1986,actor,Indiscreet,1958
455,Cary Grant,1904,1986,actor,North by Northwest,1959
456,Cary Grant,1904,1986,actor,Operation Petticoat,1959
457,Cary Grant,1904,1986,actor,The Grass Is Greener,1960
458,Cary Grant,1904,1986,actor,That Touch of Mink,1962
459,Cary Grant,1904,1986,actor,Charade,1963
460,Cary Grant,1904,1986,actor,Father Goose,1964
462,Cary Grant,1904,1986,actor,Walk Don't Run,1966

In [0]:
startYear = 1950
endYear = 1960

In [0]:
movie_list_observed = movie_list[movie_list.startYear.isin(range(startYear,endYear))]
movie_list_unobserved = movie_list[movie_list.startYear >= endYear]

In [0]:
movie_counts = movie_list_observed.groupby(['primaryName','startYear']).agg({'primaryTitle': 'count'}).reset_index().rename(columns = {'primaryTitle':'numberMovies'})

In [63]:
movie_counts.groupby('primaryName').agg({'numberMovies':'sum'})

               numberMovies
primaryName
Cary Grant               13
Lauren Bacall            13

In [64]:
movie_counts

      primaryName  startYear  numberMovies
0      Cary Grant       1950             1
1      Cary Grant       1951             1
2      Cary Grant       1952             2
3      Cary Grant       1953             1
4      Cary Grant       1955             1
5      Cary Grant       1957             3
6      Cary Grant       1958             2
7      Cary Grant       1959             2
8   Lauren Bacall       1950             2
9   Lauren Bacall       1953             1
10  Lauren Bacall       1954             1
11  Lauren Bacall       1955             3
12  Lauren Bacall       1956             3
13  Lauren Bacall       1957             1
14  Lauren Bacall       1958             1
15  Lauren Bacall       1959             1

In [0]:
movie_table = pd.merge(movie_list, movie_counts, on = ["primaryName","startYear"])

In [0]:
def order_by_year(x):
  name = x.primaryName
  startYear = x.startYear
  primaryTitle = x.primaryTitle
  movies_y = movie_table[(movie_table.primaryName == primaryName) & (movie_table.startYear == movie_table.startYear)]
  movies_y.reset_index()

In [69]:
movie_table

,primaryName,birthYear,deathYear,category,primaryTitle,startYear,numberMovies
0,Lauren Bacall,1924,2014,actress,Bright Leaf,1950,2
1,Lauren Bacall,1924,2014,actress,Young Man with a Horn,1950,2
2,Lauren Bacall,1924,2014,actress,How to Marry a Millionaire,1953,1
3,Lauren Bacall,1924,2014,actress,Woman's World,1954,1
4,Lauren Bacall,1924,2014,actress,Blood Alley,1955,3
5,Lauren Bacall,1924,2014,actress,The Cobweb,1955,3
6,Lauren Bacall,1924,2014,actress,The Petrified Forest,1955,3
7,Lauren Bacall,1924,2014,actress,Written on the Wind,1956,3
8,Lauren Bacall,1924,2014,actress,Blithe Spirit,1956,3
9,Lauren Bacall,1924,2014,actress,Blithe Spirit,1956,3
10,Lauren Bacall,1924,2014,actress,Designing Woman,1957,1
11,Lauren Bacall,1924,2014,actress,The Gift of Love,1958,1
12,Lauren Bacall,1924,2014,actress,North West Frontier,1959,1
13,Cary Grant,1904,1986,actor,Crisis,1950,1
14,Cary Grant,1904,1986,actor,People Will Talk,1951,1
15,Cary Grant,1904,1986,actor,Monkey Business,1952,2
16,Cary Grant,1904,1986,actor,Room for One More,1952,2
17,Cary Grant,1904,1986,actor,Dream Wife,1953,1
18,Cary Grant,1904,1986,actor,To Catch a Thief,1955,1
19,Cary Grant,1904,1986,actor,An Affair to Remember,1957,3
20,Cary Grant,1904,1986,actor,Kiss Them for Me,1957,3
21,Cary Grant,1904,1986,actor,The Pride and the Passion,1957,3
22,Cary Grant,1904,1986,actor,Houseboat,1958,2
23,Cary Grant,1904,1986,actor,Indiscreet,1958,2
24,Cary Grant,1904,1986,actor,North by Northwest,1959,2
25,Cary Grant,1904,1986,actor,Operation Petticoat,1959,2