# Estimating how active actors will be

In [3]:
! wget "https://datasets.imdbws.com/title.principals.tsv.gz"
! wget "https://datasets.imdbws.com/title.basics.tsv.gz"
! wget "https://datasets.imdbws.com/name.basics.tsv.gz"

--2019-04-02 03:15:03--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.166, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 280248846 (267M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 267.27M   150MB/s    in 1.8s

2019-04-02 03:15:05 (150 MB/s) - ‘title.principals.tsv.gz’ saved [280248846/280248846]

--2019-04-02 03:15:06--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.166, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 103185075 (98M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>]  98.40M   147MB/s    in 0.7s

2019-04-02 03:15:07 (147 MB/s) - ‘title.basics.tsv.gz’ saved [103185075/103185075]

--2019-04-02 03:15:08--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 54.230.75.166, 54.230.75.80, 54.230.75.240, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|54.230.75.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 180938256 (173M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 172.56M   158MB/s    in 1.1s

2019-04-02 03:15:09 (158 MB/s) - ‘name.basics.tsv.gz’ saved [180938256/180938256]

In [4]:
! gunzip title.principals.tsv.gz
! gunzip title.basics.tsv.gz
! gunzip name.basics.tsv.gz

gzip: title.principals.tsv already exists; do you wish to overwrite (y or n)? ^C
gzip: title.basics.tsv already exists; do you wish to overwrite (y or n)? ^C
gzip: name.basics.tsv already exists; do you wish to overwrite (y or n)? ^C

In [0]:
import pandas as pd
import numpy as np

In [0]:
cast = pd.read_csv('title.principals.tsv', sep='\t', na_values = "\\N", keep_default_na = False, 
                   usecols = ['tconst','ordering','nconst','category','job'],
                   dtype = {'tconst': str, 'ordering': 'Int64', 'nconst': str, 'category': str, 'job': str})
titles = pd.read_csv('title.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                     usecols = ['tconst','primaryTitle','startYear'],
                    dtype = {'tconst': str, 'primaryTitle': str, 'startYear': 'Int64'})
names = pd.read_csv('name.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                    usecols = ['nconst','primaryName','birthYear','deathYear'],
                   dtype = {'nconst': str, 'primaryName': str, 'birthYear': 'Int64', 'deathYear': 'Int64'})

In [9]:
cast.head()

      tconst  ordering     nconst         category                      job
0  tt0000001         1  nm1588970             self                      NaN
1  tt0000001         2  nm0005690         director                      NaN
2  tt0000001         3  nm0374658  cinematographer  director of photography
3  tt0000002         1  nm0721526         director                      NaN
4  tt0000002         2  nm1335271         composer                      NaN

In [10]:
titles.head()

      tconst            primaryTitle  startYear
0  tt0000001              Carmencita       1894
1  tt0000002  Le clown et ses chiens       1892
2  tt0000003          Pauvre Pierrot       1892
3  tt0000004             Un bon bock       1892
4  tt0000005        Blacksmith Scene       1893

In [11]:
names.head()

      nconst      primaryName  birthYear  deathYear
0  nm0000001     Fred Astaire       1899       1987
1  nm0000002    Lauren Bacall       1924       2014
2  nm0000003  Brigitte Bardot       1934        NaN
3  nm0000004     John Belushi       1949       1982
4  nm0000005   Ingmar Bergman       1918       2007

In [0]:
actors = ["Lauren Bacall", "Cary Grant"]

In [0]:
names_actors = names[names.primaryName.isin(actors)].head(len(actors))

In [0]:
names_actors

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0071877"
25,nm0000026,Cary Grant,1904.0,1986.0,"actor,soundtrack,producer","tt0056923,tt0036613,tt0048728,tt0053125"

In [0]:
cast_actors = pd.merge(names_actors, cast, on = 'nconst')

In [0]:
movie_actors = pd.merge(cast_actors, titles, on = 'tconst')

In [0]:
movie_list = movie_actors[['primaryName','birthYear','deathYear','category','primaryTitle','startYear']]

In [0]:
movie_list = movie_list[movie_list.category.isin(['actor','actress'])]

In [0]:
movie_list

,primaryName,birthYear,deathYear,category,primaryTitle,startYear
0,Lauren Bacall,1924.0,2014.0,actress,To Have and Have Not,1944.0
1,Lauren Bacall,1924.0,2014.0,actress,Confidential Agent,1945.0
2,Lauren Bacall,1924.0,2014.0,actress,The Big Sleep,1946.0
3,Lauren Bacall,1924.0,2014.0,actress,Dark Passage,1947.0
4,Lauren Bacall,1924.0,2014.0,actress,Key Largo,1948.0
5,Lauren Bacall,1924.0,2014.0,actress,Bright Leaf,1950.0
6,Lauren Bacall,1924.0,2014.0,actress,Young Man with a Horn,1950.0
7,Lauren Bacall,1924.0,2014.0,actress,How to Marry a Millionaire,1953.0
8,Lauren Bacall,1924.0,2014.0,actress,Woman's World,1954.0
9,Lauren Bacall,1924.0,2014.0,actress,Blood Alley,1955.0
10,Lauren Bacall,1924.0,2014.0,actress,The Cobweb,1955.0
11,Lauren Bacall,1924.0,2014.0,actress,Written on the Wind,1956.0
12,Lauren Bacall,1924.0,2014.0,actress,Designing Woman,1957.0
13,Lauren Bacall,1924.0,2014.0,actress,The Gift of Love,1958.0
14,Lauren Bacall,1924.0,2014.0,actress,North West Frontier,1959.0
16,Lauren Bacall,1924.0,2014.0,actress,Mr. Broadway,1964.0
17,Lauren Bacall,1924.0,2014.0,actress,Sex and the Single Girl,1964.0
18,Lauren Bacall,1924.0,2014.0,actress,Shock Treatment,1964.0
19,Lauren Bacall,1924.0,2014.0,actress,Harper,1966.0
21,Lauren Bacall,1924.0,2014.0,actress,Murder on the Orient Express,1974.0
22,Lauren Bacall,1924.0,2014.0,actress,The Shootist,1976.0
23,Lauren Bacall,1924.0,2014.0,actress,Perfect Gentlemen,1978.0
24,Lauren Bacall,1924.0,2014.0,actress,HealtH,1980.0
25,Lauren Bacall,1924.0,2014.0,actress,The Fan,1981.0
27,Lauren Bacall,1924.0,2014.0,actress,Appointment with Death,1988.0
30,Lauren Bacall,1924.0,2014.0,actress,Mr. North,1988.0
32,Lauren Bacall,1924.0,2014.0,actress,Innocent Victim,1989.0
36,Lauren Bacall,1924.0,2014.0,actress,The Parallax Garden,1993.0
37,Lauren Bacall,1924.0,2014.0,actress,The Portrait,1993.0
38,Lauren Bacall,1924.0,2014.0,actress,From the Mixed-Up Files of Mrs. Basil E. Frank...,1995.0
...,...,...,...,...,...,...
432,Cary Grant,1904.0,1986.0,actor,Destination Tokyo,1943.0
433,Cary Grant,1904.0,1986.0,actor,Mr. Lucky,1943.0
434,Cary Grant,1904.0,1986.0,actor,Arsenic and Old Lace,1944.0
435,Cary Grant,1904.0,1986.0,actor,None But the Lonely Heart,1944.0
436,Cary Grant,1904.0,1986.0,actor,Once Upon a Time,1944.0
437,Cary Grant,1904.0,1986.0,actor,Night and Day,1946.0
438,Cary Grant,1904.0,1986.0,actor,Notorious,1946.0
439,Cary Grant,1904.0,1986.0,actor,The Bachelor and the Bobby-Soxer,1947.0
440,Cary Grant,1904.0,1986.0,actor,The Bishop's Wife,1947.0
441,Cary Grant,1904.0,1986.0,actor,Every Girl Should Be Married,1948.0
442,Cary Grant,1904.0,1986.0,actor,Mr. Blandings Builds His Dream House,1948.0
443,Cary Grant,1904.0,1986.0,actor,I Was a Male War Bride,1949.0
444,Cary Grant,1904.0,1986.0,actor,Crisis,1950.0
445,Cary Grant,1904.0,1986.0,actor,People Will Talk,1951.0
446,Cary Grant,1904.0,1986.0,actor,Monkey Business,1952.0
447,Cary Grant,1904.0,1986.0,actor,Room for One More,1952.0
448,Cary Grant,1904.0,1986.0,actor,Dream Wife,1953.0
449,Cary Grant,1904.0,1986.0,actor,To Catch a Thief,1955.0
450,Cary Grant,1904.0,1986.0,actor,An Affair to Remember,1957.0
451,Cary Grant,1904.0,1986.0,actor,Kiss Them for Me,1957.0
452,Cary Grant,1904.0,1986.0,actor,The Pride and the Passion,1957.0
453,Cary Grant,1904.0,1986.0,actor,Houseboat,1958.0
454,Cary Grant,1904.0,1986.0,actor,Indiscreet,1958.0
455,Cary Grant,1904.0,1986.0,actor,North by Northwest,1959.0
456,Cary Grant,1904.0,1986.0,actor,Operation Petticoat,1959.0
457,Cary Grant,1904.0,1986.0,actor,The Grass Is Greener,1960.0
458,Cary Grant,1904.0,1986.0,actor,That Touch of Mink,1962.0
459,Cary Grant,1904.0,1986.0,actor,Charade,1963.0
460,Cary Grant,1904.0,1986.0,actor,Father Goose,1964.0
462,Cary Grant,1904.0,1986.0,actor,Walk Don't Run,1966.0

In [0]:
movie_list.loc["startYear"] = movie_list.startYear.astype(int)

In [0]:
startYear = 1950
endYear = 1960

In [0]:
movie_list_observed = movie_list[movie_list.startYear.isin(range(startYear,endYear))]
movie_list_unobserved = movie_list[movie_list.startYear >= endYear]

In [0]:
movie_counts = movie_list_observed.groupby(['primaryName','startYear'])['primaryTitle'].count().reset_index()

In [0]:
movie_counts.groupby('primaryName')['primaryTitle'].sum()

primaryName
Cary Grant       13
Lauren Bacall    13
Name: primaryTitle, dtype: int64